DB_DRIVER=postgres
DB_DATABASE=gobnb
DB_HOSTNAME=127.0.0.1
DB_PORT=5432
DB_SCHEMA=gobnb
DB_USERNAME=gobnb
DB_PASSWORD=secret
DB_SSL=disable

# I love variable expansion
DB_URL="${DB_DRIVER}://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOSTNAME}:${DB_PORT}/${DB_SCHEMA}?sslmode=${DB_SSL}"
GOOSE_DBSTRING=${DB_URL}
GOOSE_MIGRATION_DIR="./db/migrations"

GEOAPIFY_API_KEY="CHANGEME"
GEOAPIFY_RATE_LIMIT=5